header{
    background-color: red;
    width: 50px;
    height: 100px;
    color: white;
    font-size: 45px;
    text-align: center;
    margin-top: -40px;

}

header p {
    padding: 15px;
}

span#bola{
    background-color: black;
    margin-left: 300px;
    width: 500px;
    height: 250px;
    padding: 20px;
    padding-top: 2px;
    border-radius: 25px;
}

ul.poke{
    position: relative;
    display: block;
    padding: none;
    margin: 20px;
    margin-bottom: none;
    margin-top: none;
    margin-left: 120px;
}

li{
    list-style-type: none;
    display: inline;
}

ul.poke img{
    background-color: gray;
    display: block;
    position: relative;
    margin: none;
    margin-bottom: none;
    margin-top: none;
    height: 350px;
    width: 350px;
    
}

ul.poke img:hover{
    background-color: rgb(163, 159, 159);
    transition: 0.2s;
    
}

 ul.poke figcaption{
    font-family: Arial 15pt;
    font-size: 15pt;
    color: rgb(177, 174, 174);
    position: relative;
    margin-top: -1px;
    margin-bottom: 10px;
    padding: none;
    height: 20px;
    width: 215px;
}

span.Grass{
    font-family: Arial 10pt;
    background-color: green;
    padding: 2px 50px 2px 50px;
    text-align: center;
    margin-right: 10px;
    border-radius: 10px;
    display: inline;
}

span.Poison{
    display: inline;
    font-family: Arial 10pt;
    color: white;
    background-color: purple;
    padding: 2px 50px 2px 50px;
    text-align: center;
    margin-right: 10px;
    border-radius: 10px;
}

ul.poke span.Fire{
    font-family: Arial 10pt;
    background-color: rgb(247, 60, 60);
    color: white;
    padding: 2px 110px 2px 110px;
    text-align: center;
    display: inline;
    margin-right: 10px;
    border-radius: 10px;
}

ul.poke span.Flying{
    font-family: Arial 10pt;
    background-color: #3DC7EF;
    color: white;
    padding: 2px 110px 2px 110px;
    text-align: center;
    display: inline;
    margin-right: 10px;
    border-radius: 10px;
}


ul.poke span.Water{
    font-family: Arial 10pt;
    background-color:#4592C4;
    color: white;
    padding: 2px 110px 2px 110px;
    text-align: center;
    display: inline;
    margin-right: 10px;
    border-radius: 10px;
}

ul.poke span.Bug{
    font-family: Arial 10pt;
    background-color: #729F3F;
    color: white;
    padding: 2px 110px 2px 110px;
    text-align: center;
    display: inline;
    margin-right: 10px;
    border-radius: 10px;
}

ul.poke span.b{
    font-family: Arial 10pt;
    background-color:  #729F3F;
    color: white;
    padding: 2px 50px 2px 50px;
    text-align: center;
    display: inline;
    margin-right: 10px;
    border-radius: 10px;
}

ul.poke span.f{
    font-family: Arial 10pt;
    background-color: #3DC7EF;
    color: white;
    padding: 2px 50px 2px 50px;
    text-align: center;
    display: inline;
    margin-right: 10px;
    border-radius: 10px;
}

ul.poke span.Fi{
    font-family: Arial 10pt;
    background-color: rgb(247, 60, 60);
    color: white;
    padding: 2px 50px 2px 50px;
    text-align: center;
    display: inline;
    margin-right: 10px;
    border-radius: 10px;
}

footer{
    background-color: rgb(190, 186, 186);
    height: 90px;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

footer p {
    padding: 30px;
}

a#link{
    text-decoration: none;
    color: gray;
}

a#link:hover{
    color: rgb(92, 91, 91);
    transition: 0.5s;
}

@media(min-width:700px){
    header{
        width: 1500px;
    }

    header p{
        margin-left: 170px;
    }

    span#bola{
        margin-left: 800px;
        margin-bottom: 100px;
    }

    ul{
        padding: none;
        display: inline-grid;

    }
    div.pokes ul{
        display: inline;
        margin: none;
        padding: none;
    }
    ul.poke img{
        display: inline;
        padding: none;
        margin-left: 420px;
        margin-top: 25px;
    }
    ul.poke li{
        display: inline;
        margin: none;
        margin-left: 30px;
    }
    figcaption{
        margin-left: 450px;
    }
    span.Grass{
        margin-left: 410px;
    }
    span.Fire{
        margin-left: 410px;
    }
    span.Fi{
        margin-left: 410px;
    }
    span.Water{
        margin: 410px;
    }
    span.Bug{
        margin-left: 410px;
    }
    span.b{
        margin-left: 410px;
    }
}

@media(max-width:699){
    header p {
        margin-right: -150px;
        color: black;
    }

    footer p{
        margin-left: -50px;
        width: 50px;
        padding: 5px;
        margin: none;
        height: none;
    }
}